## Pandas vs SQL

- merge
- join
- pivotable
- change index

In [5]:
import pandas as pd
import numpy as np
from pandasql import sqldf

from IPython.display import display

In [2]:
first_time = False

if first_time:
    # loading data from pandas demo
    url = 'https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv'
    tips = pd.read_csv(url)
    # dump as csv
    tips.to_csv('../data/tips.csv')
else:
    # loading 
    tips = pd.read_csv('../data/tips.csv')

## pandas style

In [3]:
df_result1 = tips.groupby(['sex', 'smoker', 'day'])['day'].size()\
    .sort_index(axis=0, level=['sex', 'smoker'], ascending=[1, 1])\
    .rename('day_counts')\
    .reset_index()

## sql style

In [4]:
pysqldf = lambda q: sqldf(q, globals())

# SQL
sql =\
"""
SELECT sex, smoker, day, COUNT(day) AS day_counts 
FROM tips
GROUP BY sex, smoker, day
ORDER BY sex, smoker ASC;
"""

df_result2 = pysqldf(sql)

In [11]:
display(df_result1, df_result2)

       sex smoker   day  day_counts
0   Female     No   Fri           2
1   Female     No   Sat          13
2   Female     No   Sun          14
3   Female     No  Thur          25
4   Female    Yes   Fri           7
5   Female    Yes   Sat          15
6   Female    Yes   Sun           4
7   Female    Yes  Thur           7
8     Male     No   Fri           2
9     Male     No   Sat          32
10    Male     No   Sun          43
11    Male     No  Thur          20
12    Male    Yes   Fri           8
13    Male    Yes   Sat          27
14    Male    Yes   Sun          15
15    Male    Yes  Thur          10

       sex smoker   day  day_counts
0   Female     No   Fri           2
1   Female     No   Sat          13
2   Female     No   Sun          14
3   Female     No  Thur          25
4   Female    Yes   Fri           7
5   Female    Yes   Sat          15
6   Female    Yes   Sun           4
7   Female    Yes  Thur           7
8     Male     No   Fri           2
9     Male     No   Sat          32
10    Male     No   Sun          43
11    Male     No  Thur          20
12    Male    Yes   Fri           8
13    Male    Yes   Sat          27
14    Male    Yes   Sun          15
15    Male    Yes  Thur          10